html,
body {
  position: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
}

canvas {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.02);
  border-radius: 0px;
  box-shadow: 1px 1px 10px #888888;
}